.App {
  text-align: center;
  color: #fff;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: hsl(180, 100%, 50%);
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}
.nav__search {
  display:flex;
  justify-content: space-around;
}

input {
  margin: 20px;
  background: #444343;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 20px;
  border-radius:16px;
  box-shadow: 0px 0px 0px 2px #fff;
}
input:focus {
  outline: none;
}
h2 {
  width: 100%;
}

.Links {
  padding: 5px;
  background: #444343;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 191);
  border-radius: 16px;
}