.App {
  text-align: center;
  color: #fff;
}

.App-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: hsl(180, 100%, 50%);
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

input {
  margin: 20px;

}

.Links {
  padding: 5px;
  background: #444343;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 191);
  border-radius: 16px;
}